html, body {
  background-color: purple;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 15pt;
  max-width: 700px;
  padding-left: 45px;
  padding-bottom: 40px;
}

h1 {
  color: white;
  font-size: 30pt;
  font-weight: 450;
  max-width: 1000px;
  padding-left: 45px;
  padding-top: 40px;
}

canvas {
  display: block;
  margin: 0 auto; /* centra il canvas */
}